<%= form_with(model: food_business, local: true) do |form| %>
  <% if food_business.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(food_business.errors.count, "error") %> prohibited this food_business from being saved:</h2>

      <ul>
      <% food_business.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
    <%= form.text_field :business_name, placeholder: 'Business name', autofocus: true, class: 'field-input' %>

    <%= form.text_field :address, placeholder: 'Address', class: 'field-input' %>

    <%= form.text_field :contact_number, placeholder: 'Contact number', class: 'field-input' %>

    <%= form.text_field :email, placeholder: 'Email', class: 'field-input' %>
    
    <%= form.text_field :abn_number, placeholder: 'ABN', class: 'field-input' %>
  
    <%= form.select :business_category, ['Restaurant', 'Cafe\'', 'Fast Food', 'Wine Bar'], {include_blank: 'Select category'}, {class: 'field-input select' } %>

    <div class="file-box">
      <%= form.file_field :image, class: 'file' %>
    </div>

    <%= form.submit 'Create Profile', class: 'button' %>
<% end %>
