<p class='text-center'><%= current_user.company_name %></p>

<br>

<% current_user.food_businesses.each do |food_business| %>
  <%= link_to food_business do %>
    <div class="list-item d-flex justify-content-between">
      <p><%= food_business.business_name %></p>
      <p>
        <%= link_to food_business_home_url(food_business), class: 'link' do %>
          <%= fa_icon "sign-in" %>
        <% end %>  
      </p>  
    </div>
  <% end %>
<% end %>

<br>

<%= render 'menu_index' %>
