<p class='text-center'><%= current_user.company_name %></p>

<% if current_user.user_type == 'Supplier'%>
  <%= render 'search' %>
<% end %>

<br>

<% if current_user.user_type == 'Food Business'%>
  <%= render 'my_businesses' %>
<% else %>
  <%= render 'my_clients' %>
<% end %>
 
<br>

<%= render 'menu_index' %>
