<p class='text-center'><%= current_user.company_name %></p>

<br>

<% @food_businesses.each do |food_business| %>
  <div class="d-flex justify-content-between">
    <p><%= food_business.business_name %></p>
    <div>
      <%= link_to food_business, class: 'link' do %>
        <%= fa_icon "address-card" %>
      <% end %>
      <%= link_to food_business, class: 'link' do %>
        <%= fa_icon "sign-in" %>
      <% end %>      
    </div>
  </div>
<% end %>

<br>

<%= link_to 'New Food Business', new_food_business_path, class: 'btn button' %>
