<p class="text-center"><%= current_user.company_name %></p>

<p class="text-center"><strong><%= @food_business.business_name %></strong></p>

<div class="info-box">


<p><%= fa_icon "briefcase", class: 'link' %><%= @food_business.business_category %></p>

<p><%= fa_icon "map-marker" %><%= @food_business.address %></p>

<p><%= fa_icon "phone" %><%= @food_business.contact_number %></p>

<p><%= fa_icon "envelope" %><%= @food_business.email %></p>

<p>ABN <%= @food_business.abn_number %></p>




<%= link_to 'Edit', edit_food_business_path(@food_business) %> |
<%= link_to 'Back', food_businesses_path %>
