<h1 class='home-title text-center'>Connecting food businesses to suppliers</h1>
<p class="text-center">A smarter, faster way to place orders to different suppliers in one single place</p>


<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <%= f.email_field :email, autofocus: true, placeholder: 'Email', class: 'field-input' %>
  <%= f.password_field :password, autocomplete: "off", placeholder: 'Password', class: 'field-input' %>

  <% if devise_mapping.rememberable? -%>
    <div class="field text-center">
      <%= f.check_box :remember_me, class: "checkbox" %>
      <%= f.label :remember_me, class: "checkbox-label" %>
    </div>
  <% end -%>


  <%= f.submit "Log in", class: 'button' %>
<% end %>

  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <div class="field text-center">
      <%= link_to "Forgot your password?", new_password_path(resource_name), class: "forgot-pass" %><br />
    </div>
  <% end -%>

<hr>

<%= render "users/shared/links" %>


