<%# <p><%= @food_business.business_name %>
<p>My Conversations</p>
<br>
<% @conversations.each do |conversation| %>
  <%= link_to conversation_path(conversation.id, supplier: params[:supplier], food_business: params[:food_business]) do %>
    <div class="info-box conv-box">
      <p class="xs text-center">Last Message: 
        <%= conversation.messages.last.created_at.to_time.strftime('%a, %b %e, %l:%M %p') %></p>
      </p>
      <p class="conv-details"><span class="data-title">From: </span><%= conversation.supplier.business_name %></p>
      <p class="conv-details"><span class="data-title">Messages: </span><%= conversation.messages.count %></p>
      <p class="conv-details"><span class="data-title">Preview: </span><%= truncate(conversation.messages.last.content) %></p>
    </div>
  <% end %>
<% end %>

<%= render 'menu' %> 