<p>Conversation with <strong><br>
  <%= @receiver %></strong>
</p>

<% @conversation.messages.each_with_index do |message, index| %>
  <div class="<%= message.sender_id == current_user.id ? 'sender' : 'receiver' %>">
    <p><%= message.content %></p>
  </div>
  <p class="xs">
  <% if message.sender_id == current_user.id %>
    <span class="sender-details">Me</span> - 
  <% else %>
    <span class="receiver-details"><%= @receiver %> -
  <% end %> 
    <em><%= message.created_at.strftime("%m/%d/%Y, %l:%M %p") %></em>
  </p>
<% end %>

<%= render 'messages/form', message: @message %>
