<div class="menu-box">
  <%= link_to new_order_path(food_business: @order.food_business)do %>
    <div class="menu-key">
      <%= fa_icon "plus" %>
      <p class="key-title">New</p>
    </div>
  <% end %>
  <%= link_to orders_path(food_business: @order.food_business) do %>
    <div class="menu-key middle-key">
      <%= fa_icon "archive" %>
      <p class="key-title">History</p>
    </div>
  <% end %>
  <%= link_to food_business_home_path(id: @order.food_business) do %>
    <div class="menu-key">
      <%= fa_icon "home" %>
      <p class="key-title">Home</p>
    </div>
  <% end %>
</div>