<p class='text-center'>
  <% if current_user.supplier %>
    <%= @order.supplier.business_name %>
  <% else %>
    <%= @order.food_business.business_name %>
  <% end %>
</p>

<p class="box-title">Order <%= @order.order_number %> - <%= @order.created_at.strftime("%m/%d/%Y") %></p>
<hr>

<div class="small d-flex justify-content-around">
  <% if current_user.supplier %>
    <p>From: <%= @order.food_business.business_name %></p>
  <% else %>
    <p>To: <%= @order.supplier.business_name %></p>
  <% end %>
  <p>Delivery: <%= @order.delivery_date.strftime("%m/%d/%Y") %></p>
</div>

<div class="info-box info-box-order">
  <% @order.products.each do |product| %>
    <div class="row order-row xs">
      <div class="order-product">
        <%= product.name %>
        <% if product.product_variety %>
          <span> - <%= product.product_variety %></span>
        <% end %>
      </div>
      <div class="order-quantifier">
        <%= find_quantity(product) %><%= product.quantifier %>
      </div>
      <div class="order-price">
        <%= estimate(find_quantity(product), product.price) %>
      </div>
    </div>
  <% end %>

  <div class="total xs">
    <p class="text-right"><span class="tot-title">GST: </span><%= number_to_currency(@order.gross_total) %><p>
    <p class="text-right"><span class="tot-title">Total: </span><%= number_to_currency(@order.gst) %></p>
  </div>
</div>

<% if current_user.user_type == 'Food Business'%>
  <%= form_tag order_path do %>
    <article>
      <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
        </div>
      <% end %>
      <label class="amount">
        <span>Amount: <%= number_to_currency(@order.gross_total) %></span>
      </label>
    </article>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="A month's subscription"
            data-amount="<%= @amount %>"
            data-locale="auto"></script>
  <% end %>
<% end %>

<%= render 'menu_show' %>