<p class='text-center'><%= @order.food_business.business_name %></p>

<p>Order <%= @order.order_number %> - <%= @order.created_at.strftime("%m/%d/%Y") %></p>
<hr>

<div class="box-title d-flex justify-content-around">
  <p>To: <%= @order.supplier.business_name %><p>
  <p>Delivery: <%= @order.delivery_date.strftime("%m/%d/%Y") %></p>
</div>

<div class="info-box">
  
</div>