<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.text_field :name, placeholder: 'Name', cautofocus: true, class: 'field-input' %>

  <%= form.text_field :product_variety, placeholder: 'Product variety',  class: 'field-input' %>

  <%= form.text_field :product_code, placeholder: 'Product Code', class: 'field-input' %>

  <%= form.select :quantifier, ['Kg', 'Each', 'Bunch', 'Grams', 'Punnet'], {include_blank: 'Select quantifier'}, {class: 'field-input select' } %>
  
  <%= form.text_field :price, placeholder: 'Price', class: 'field-input' %>

  <%= form.text_field :stock_level, placeholder: 'Stock level', class: 'field-input' %>

  <%= hidden_field_tag :supplier, @supplier %>
  
  <%= form.submit 'Create Profile', class: 'button' %>
<% end %>