<p class="list-title">My Products</p>
<% if @products.count > 0 %>
  <% @products.each do |product| %>
    <%= link_to products_path(product, supplier: @supplier) do %>
      <div class="list-item d-flex justify-content-between">
        <div class="order-product"><%= product.name %> <span class="xs"><%= product.product_variety %></span>
        </div><div><%= product.price %> <%= product.quantifier %></div>
        <%= form_with model: @product do |f| %>
          <%= link_to class: 'link' do %>
            <%= fa_icon "tag" %> 
          <% end %>
          <%= hidden_field_tag :supplier, @supplier %>
          <%= f.button class: 'link form-btn' do %>
            <%= fa_icon "minus-circle", class: 'link text-danger' %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% else %>
  <p class="list-item">Your list is empty</p>
<% end %>

<%= link_to 'New Product', new_product_path %>
