<%= form_with(model: supplier, local: true) do |form| %>
  <% if supplier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(supplier.errors.count, "error") %> prohibited this supplier from being saved:</h2>

      <ul>
      <% supplier.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.text_field :business_name, placeholder: current_user.company_name, class: 'field-input' %>

  <%= form.text_field :address, placeholder: 'Address', autofocus: true, class: 'field-input' %>

  <%= form.text_field :contact_number, placeholder: 'Contact number', class: 'field-input' %>

  <%= form.text_field :email, placeholder: 'Business Email', class: 'field-input' %>

  <%= form.text_field :abn_number, placeholder: 'ABN', class: 'field-input' %>

  <%= form.select :supplier_type, ['Vegetables', 'Meat', 'Fish', 'Dry Goods', 'Dairy', 'Drinks', 'Baked Goods/Pastry'], {include_blank: 'Select category'}, {class: 'field-input select' } %>

  <div class="file-box">
    <%= form.file_field :image, class: 'file' %>
  </div>
  
  <%= form.submit 'Create Profile', class: 'button' %>
<% end %>
