<div class="menu-box">
  <%= link_to new_order_path(food_business: @food_business) do %>
    <div class="menu-key">
      <%= fa_icon "file" %>
      <p class="key-title">Order</p>
    </div>
  <% end %>
  <%= link_to new_food_business_path do %>
    <div class="menu-key">
      <%= fa_icon "minus" %>
      <p class="key-title">Delete</p>
    </div>
  <% end %>
  <%= link_to food_business_home_url(@food_business) do %>
    <div class="menu-key">
      <%= fa_icon "home" %>
      <p class="key-title">Home</p>
    </div>
  <% end %>
</div>