<div class="menu-box">
  <%= link_to orders_path(supplier: current_user.supplier) do %>
    <div class="menu-key">
      <%= fa_icon "file" %>
      <p class="key-title">Orders</p>
    </div>
  <% end %>
  <%= link_to food_businesses_path(supplier: current_user.supplier) do %>
    <div class="menu-key middle-key">
      <%= fa_icon "users" %>
      <p class="key-title">My clients</p>
    </div>
  <% end %>
  <%= link_to conversations_path(supplier: current_user.supplier) do %>
    <div class="menu-key">
      <%= fa_icon "comments" %>
      <p class="key-title">Messages</p>
    </div>
  <% end %>
    <%= link_to products_path(supplier: current_user.supplier) do %>
    <div class="menu-key">
      <%= fa_icon "th-list" %>
      <p class="key-title">My products</p>
    </div>
  <% end %>
  <%= link_to do %>
    <div class="menu-key middle-key">
      <%= fa_icon "truck" %>
      <p class="key-title">Deliveries</p>
    </div>
  <% end %>
  <%= link_to supplier_path(current_user.supplier) do %>
    <div class="menu-key">
      <%= fa_icon "user-circle" %>
      <p class="key-title">My profile</p>
    </div>
  <% end %>
</div>