<div class="menu-box">
  <%= link_to new_supplier_path do %>
    <div class="menu-key">
      <%= fa_icon "file" %>
      <p class="key-title">Orders</p>
    </div>
  <% end %>
  <%= link_to new_supplier_path do %>
    <div class="menu-key middle-key">
      <%= fa_icon "users" %>
      <p class="key-title">My clients</p>
    </div>
  <% end %>
  <%= link_to new_supplier_path do %>
    <div class="menu-key">
      <%= fa_icon "archive" %>
      <p class="key-title">History</p>
    </div>
  <% end %>
    <%= link_to new_supplier_path do %>
    <div class="menu-key">
      <%= fa_icon "search" %>
      <p class="key-title">Search</p>
    </div>
  <% end %>
  <%= link_to new_supplier_path do %>
    <div class="menu-key middle-key">
      <%= fa_icon "truck" %>
      <p class="key-title">Deliveries</p>
    </div>
  <% end %>
  <%= link_to new_supplier_path do %>
    <div class="menu-key">
      <%= fa_icon "user-circle" %>
      <p class="key-title">My profile</p>
    </div>
  <% end %>
</div>