<div class="search-bar">
  <%= form_tag(@supplier, method: "get", class: 'd-flex') do %>
    <%= hidden_field_tag :food_business, @food_business.id %>
    <%= text_field_tag :search, params[:search], placeholder: "Search supplier", class: 'field-input search-input' %>
    <%#= select_tag (:supplier_type, ['Vegetables', 'Meat', 'Fish', 'Dry Goods', 'Dairy', 'Drinks', 'Baked Goods/Pastry'], {prompt: 'Select category'}, {class: 'field-input select' }) %>
    <%= submit_tag "Search", class: 'button' %>
  <% end %>
</div>

<% if params[:search] %>
  <p><strong><%= pluralize (@my_suppliers.count + @suppliers.count), 'result' %> found</strong>
    <%= link_to 'Clear', suppliers_path(food_business: @food_business), class: 'link-signin'%>
  </p>
<% end %>