<p class="home-title"><%= @food_business.business_name %></p>

<%= render 'search' %>

<p class="list-title">My Suppliers</p>
<% if @food_business && @food_business.suppliers.count > 0 %>
  <% @my_suppliers.each do |supplier| %>
    <%= link_to supplier_path(supplier, food_business: @food_business) do %>
      <div class="list-item d-flex justify-content-between">
        <p><%= supplier.business_name %></p>
        <%= form_with model: @food_business do |f| %>
          <%= link_to new_message_path(food_business: @food_business, supplier: supplier), class: 'link' do %>
            <%= fa_icon "comments" %> 
          <% end %>
          <%= hidden_field_tag :supplier, supplier.id %>
          <%= f.button class: 'link form-btn' do %>
            <%= fa_icon "minus-circle", class: 'link text-danger' %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% else %>
  <p class="list-item">Your list is empty</p>
<% end %>

<p class="list-title">Suppliers</p>
<% @suppliers.each do |supplier| %>
  <%= link_to supplier_path(supplier, food_business: @food_business) do %>
    <div class="list-item d-flex justify-content-between">
      <p><%= supplier.business_name %></p>
      <%= form_with model: @food_business do |f| %>
        <%= link_to supplier, class: 'link' do %>
          <%= fa_icon "phone-square" %>
        <% end %>
        <%= hidden_field_tag :supplier, supplier.id %>
        <%= f.button class: 'link form-btn' do %>
          <%= fa_icon "plus-square"%>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>

<%= render 'menu_index'%>

