<nav class="navigation d-flex justify-content-between align-items-center">
  <a href="#" class="backarrow">
    <%= fa_icon "arrow-left" %>
  </a>
  <h1 class="app-name text-center">ChefBasket</h1>
  <a href="#" class="hamburger"><%= fa_icon "bars"%></a>
  <div class="dashboard">
    <%# TODO: redirect to home as a restaurant %>

    <li><%= link_to 'Payment Info' %></li>
    <li><%= link_to 'Terms & Conditions' %></li>
    <li><%= link_to 'Contact' %></li>
    <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
  </div>
</nav>
